
.login-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.login-form {
  background: #ffffff;
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #374151;
}

.form-group {
  margin-bottom: 15px;
}
.login-form-group label{
  color: #111111;
}
.login-form .form-group label{
  color: #111111;
} 

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #111111;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.form-group input:focus {
  border-color: #22c55e;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #00ff5e;
}


.message {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #374151;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #22c55e;
  text-decoration: none;
  font-weight: 500;
}

.signup-text a:hover {
  text-decoration: underline;
}

@media (max-width: 768px){
    .page{
      min-height: 92vh;
      
    }
    .Scard{
      margin: 0px 5vw;
    }
}





.loader {
  /* position: relative; */
  width: 24px;
  height: 24px;
  border-radius: 10px;
}

.loader div {
  width: 4px;
  height: 18px;
  background: rgb(10, 10, 10);
  position: absolute;
  left: 50%;
  top: 40%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
