
.login-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.login-form {
  background: #ffffff;
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #374151;
}

.form-group {
  margin-bottom: 15px;
}
.login-form-group label{
  color: #111111;
}
.login-form .form-group label{
  color: #111111;
} 

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #111111;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.form-group input:focus {
  border-color: #22c55e;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #00ff5e;
}


.message {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #374151;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #22c55e;
  text-decoration: none;
  font-weight: 500;
}

.signup-text a:hover {
  text-decoration: underline;
}

@media (max-width: 768px){
    .page{
      min-height: 92vh;
      
    }
    .Scard{
      margin: 0px 5vw;
    }
}