* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.page {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ecfdf5, #bbf7d0);
}

.Scard {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  
}

.title {
  text-align: center;
  color: #15803d;
  margin-bottom: 25px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 360px;
}

.field label {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 5px;
  display: block;
}

.field input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.field input:focus {
  outline: none;
  border-color: #22c55e;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.25);
}

.role {
  display: flex;
  gap: 25px;
  margin-top: 5px;
}

.role label {
  font-size: 14px;
  color: #374151;
}

.role input {
  margin-right: 6px;
  accent-color: #16a34a;
}

.row {
  display: flex;
  gap: 12px;
}

.btn {
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #16a34a;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #15803d;
}

.login-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.login-text a {
  color: #15803d;
  font-weight: 600;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
small{
  color: red;
}


@media (max-width: 768px){
    .page{
      min-height: 92vh;
      
    }
    .Scard{
      margin: 0px 5vw;
    }
}


.loader {
  /* position: relative; */
  width: 24px;
  height: 24px;
  border-radius: 10px;
}

.loader div {
  width: 4%;
  height: 18%;
  background: rgb(247, 246, 246);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
